<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Freelancer -result Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Movie Search Engine</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#search">Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <h1 class="text-uppercase mb-0">Movie Search Engine/Recommerder</h1>
      <hr class="star-light">
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
        <hr class="star-dark mb-5">
  
        <h3 class="text-secondary mb-3"> The goal of Movie Search Engine is meant to be a complementary of Rotten tomato. We want to build a more succinct search engine/recommendation system about movies. 
          Specifically,Users get movies recommendation if they have
          a preference genre or they can type whatever they want and we will provide some related movies.The query has to be at least somewhat reasonable or we will not be able to provide any useful information. The output two scores; one is fully based on 
          the similarity of the query, another is to combine similarity with the rating of the movie. We also provide some visulization for different genre of 
          movies because we know a picture is worth a thousand words! If you want to know more information, which we do not have due to our building philosophy, we
          provide you the link to the Rotten tomato with the specific movie which has much more information
          . </h3>
        
  

          <div class="row">
              <div class="col-md-6 col-lg-4">
                  <a class = "text-center" href="/action" >Action Movie</a>
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1" >
                  <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="/static/img/portfolio/mi.jpeg" alt="">
                </a>
                
                
              </div>

              <div class="col-md-6 col-lg-4">
                  <a class = "text-center" href="/comedy" >Comedy</a>
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                  <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="/static/img/portfolio/bean.png" alt="">
                </a>
                
              
              </div>

              <div class="col-md-6 col-lg-4">
                  <a class = "text-center" href="/docu" >Documentary</a>
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                  <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="/static/img/portfolio/NG1.png" alt="">
          
                </a>
                
                
              </div>
              <div class="col-md-6 col-lg-4">
                  <a class = "text-center" href="/mystery" >Mystery</a>
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                  <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="/static/img/portfolio/de.jpeg" alt="">
                </a>
                
              </div>
              
              <div class="col-md-6 col-lg-4">
                  <a class = "text-center" href="/romance" >Romance</a>
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                  <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="/static/img/portfolio/titanic1.jpeg" alt="">
                </a>
                
              </div>

              <div class="col-md-6 col-lg-4">
                  <a class = "text-center " href="/drama" >Drama</a>
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                  <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="/static/img/portfolio/MS.jpeg" alt="">
                </a>
                
              </div>

              <div class="col-md-6 col-lg-4">
                  <a class = "text-center" href="/scifi" >Science Fiction</a>
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-7">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/lldq.jpeg" alt="">
                  </a>
                  
                </div>


                <div class="col-md-6 col-lg-4">
                    <a class = "text-center" href="/classic" >Classics</a>
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-8">
                      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                          <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                      </div>
                      <img class="img-fluid" src="/static/img/portfolio/hmlt.png" alt="">
                    </a>
                    
                  </div>


                  <div class="col-md-6 col-lg-4">
                    <a class = "text-center" href="/all" >All Categories</a>
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-9">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                          <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fas fa-search-plus fa-3x"></i>
                          </div>
                        </div>
                        <img class="img-fluid" src="/static/img/portfolio/hp.jpeg" alt="">
                      </a>
                      
                    </div>


            </div>
          </div>
        </section>
  
  
  
  <!-- Search Section -->
  <section class="bg-primary text-white mb-0" id="search">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Enter Keyword</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        
          <div class="control-group">
              <form action="{{ url_for('test')}}" method="POST">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>message</label>
              <textarea name = 'message' class="form-control" id="message" rows="5" placeholder="Enter Query" required="required" data-validation-required-message="Please enter a query."></textarea>
              <p class="help-block text-danger"></p>
              <button type="submit" class="btn btn-light btn-xl" id="sendMessageButton" value = 'predict'>Search</button>
              </form>
            </div>
          </div>
          <br>
      </div>
    </div>
  </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Course Project</h4>
          <p class="lead mb-0"> CS410 Spring 2019
            <br>Movie Recommender</p>
        </div>
        <div >
            <h4 class="text-uppercase mb-4">Gitlab/hub</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://lab.textdata.org/hc10/Course_project">
                  <i class="fab fa-fw fa-gitlab"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/wan19990901/projects">
                  <i class="fab fa-fw fa-github"></i>
                </a>
              </li>
        </div>
        <div class="col-md-4">
          <h4 class="text-uppercase mb-4">About Data</h4>
          <p class="lead mb-0">We only included a sample dataset about 30K movies, please refer to the link for more information
            <a href="https://www.kaggle.com/ayushkalla1/rotten-tomatoes-movie-database">Kaggle dataset</a>.</p>
    </div>
    <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Contribution</h4>
        <p class="lead mb-0">By Guangya Wan, Lujia Kang, Hongxuan Chen, Sizhi Tan, Specical Thanks To Professor 
          <a href="http://czhai.cs.illinois.edu/"> ChengXiang Zhai</a>  for his excellent teaching
          .</p>
      </div>
  </div>
  </footer>

  
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; http://cs410.pnxppjnsf2.us-west-1.elasticbeanstalk.com/</small>
    </div>
  </div>

  

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>



  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Action Movies Editor's Top 10 Choice</h2>
            <hr class="star-dark mb-5">
            <ol style="list-style-type:none;">
                {% for index, item in choice[0].iterrows() %}
                <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                  {% endfor %}
              </ol>
            <h4> <a href="/action">More about Action movies</a> </h4>
            <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
            <br>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Comedy Movies Editor's Top 10 Choice</h2>
              <hr class="star-dark mb-5">
              <ol style="list-style-type:none;">
                  {% for index, item in choice[1].iterrows() %}
                  <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                    {% endfor %}
                </ol>
              <h4> <a href="/comedy">More about Comedy movies</a> </h4>
              <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
              <br>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Documentary Movies Editor's Top 10 Choice</h2>
              <hr class="star-dark mb-5">
              <ol style="list-style-type:none;">
                  {% for index, item in choice[2].iterrows() %}
                  <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                    {% endfor %}
                </ol>
              <h4> <a href="/docu">More about Documentary movies</a> </h4>
              <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
              <br>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close </a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Mystery/Thriller Movies Editor's Top 10 Choice</h2>
                <hr class="star-dark mb-5">
                <ol style="list-style-type:none;">
                    {% for index, item in choice[3].iterrows() %}
                    <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                      {% endfor %}
                  </ol>
                <h4> <a href="/mystery">More about Mystery/Thriller movies</a> </h4>
                <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
                <br>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close </a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- Portfolio Modal 5 -->
        <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
            <div class="portfolio-modal-dialog bg-white">
              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
              </a>
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Romance Movies Editor's Top 10 Choice</h2>
                    <hr class="star-dark mb-5">
                    <ol style="list-style-type:none;">
                        {% for index, item in choice[4].iterrows() %}
                        <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                          {% endfor %}
                      </ol>
                    <h4> <a href="/romance">More about Romance movies</a> </h4>
                    <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
                    <br>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                      <i class="fa fa-close"></i>
                      Close </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    

        <!-- Portfolio Modal 6 -->
        <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
            <div class="portfolio-modal-dialog bg-white">
              <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
              </a>
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Drama Movies Editor's Top 10 Choice</h2>
                    <hr class="star-dark mb-5">
                    <ol style="list-style-type:none;">
                        {% for index, item in choice[5].iterrows() %}
                        <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                          {% endfor %}
                      </ol>
                    <h4> <a href="/drama">More about Drama movies</a> </h4>
                    <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
                    <br>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                      <i class="fa fa-close"></i>
                      Close </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
      



                  <!-- Portfolio Modal 7 -->
                  <div class="portfolio-modal mfp-hide" id="portfolio-modal-7">
                      <div class="portfolio-modal-dialog bg-white">
                        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                          <i class="fa fa-3x fa-times"></i>
                        </a>
                        <div class="container text-center">
                          <div class="row">
                            <div class="col-lg-8 mx-auto">
                              <h2 class="text-secondary text-uppercase mb-0">Science Fiction Movies Editor's Top 10 Choice</h2>
                              <hr class="star-dark mb-5">
                              <ol style="list-style-type:none;">
                                  {% for index, item in choice[6].iterrows() %}
                                  <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                                    {% endfor %}
                                </ol>
                              <h4> <a href="/scifi">More about Science Fiction movies</a> </h4>
                              <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
                              <br>
                              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                                <i class="fa fa-close"></i>
                                Close </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              

            <!-- Portfolio Modal 8 -->
            <div class="portfolio-modal mfp-hide" id="portfolio-modal-8">
                <div class="portfolio-modal-dialog bg-white">
                  <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                    <i class="fa fa-3x fa-times"></i>
                  </a>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Classic Movies Editor's Top 10 Choice</h2>
                        <hr class="star-dark mb-5">
                        <ol style="list-style-type:none;">
                            {% for index, item in choice[7].iterrows() %}
                            <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                              {% endfor %}
                          </ol>
                        <h4> <a href="/classic">More about Classic movies</a> </h4>
                        <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
                        <br>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                          <i class="fa fa-close"></i>
                          Close </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        


            <!-- Portfolio Modal 9 -->
            <div class="portfolio-modal mfp-hide" id="portfolio-modal-9">
                <div class="portfolio-modal-dialog bg-white">
                  <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                    <i class="fa fa-3x fa-times"></i>
                  </a>
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0"> Movies Editor's Top 10 Choice</h2>
                        <hr class="star-dark mb-5">
                        <ol style="list-style-type:none;">
                            {% for index, item in choice[8].iterrows() %}
                            <h3> <li> <a href={{ item['url'] }}> {{ item['Title']}} </li> </h3>
                              {% endfor %}
                          </ol>
                        <h4> <a href="/all">More about movies</a> </h4>
                        <img class="img-fluid mb-5" src="/static/img/portfolio/mi.png" alt="" href = "/templates/action.html" >
                        <br>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                          <i class="fa fa-close"></i>
                          Close </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        




  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/freelancer.min.js"></script>

</body>

</html>
